body {
  background-color: #E8F9FD;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgb(95 101 105 / 15%);
  padding: 10px;
}

@import '~antd/dist/antd.css';